#nav-banner {
    background-image: url(/assets/Hero-bg.png);
    width: 1440px;
    height: 652px;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 50px;
}
.btn{
    background-color: black;
    border-radius: 5px;
    padding: 15px 20px;
    display: inline;
    margin: 15px;
    
}
.btn a{
    text-decoration: none;
    font-size: 15px;
    padding: 0;
    color: white;

}
.main-section{
    background: #ffffff;
    width: 1393px;
    height: 1140px;
}
.main-three-part{
    text-align: left;
    display: flex;
    background;


}
.main-section-first-img{
    margin-left: 50px;
    width: auto%;
}